.custom-table th {
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  background-color: #f8f9fa;
  color: #333;
  letter-spacing: 0.5px;
}

.custom-table td {
   text-align: center;
  vertical-align: middle;
  padding: 12px 10px;
}

.custom-table tr:hover {
  background-color: #f3f6ff !important;
  transition: background-color 0.2s ease-in-out;
}

.table-responsive {
  overflow-x: auto;
  border-radius: 10px;
}

.pagination .page-item.active .page-link {
  background-color: #2575fc;
  border-color: #2575fc;
}

.pagination .page-link {
  color: #2575fc;
  border: 1px solid #dee2e6;
}
